* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("font/Nunito-Bold.ttf");
  line-height: 120%;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("font/Lato-Regular.ttf");
  line-height: 120%;
}

body {
  height: 100vh;
  margin: 4em;

  background-image: url(img/fight/fight-background.png);

  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2.5em;
}

audio {
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font-family: "Nunito-Bold";
  font-size: 3em;
}

#villian {
  width: 50vh;
  height: 50vh;
  position: relative;
  animation: moveLeftRight 2s ease-in-out infinite;
}
@keyframes moveLeftRight {
  0% {
    left: 0;
  }
  50% {
    left: 0.8em;
  }
  100% {
    left: 0;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25em 2em;
  gap: 1.25em;
  border-radius: 2.5em;
  background: #fff;
  text-align: center;
}
p {
  font-size: 1.2em;
  font-family: "Lato-Regular";
}

.press-enter-txt {
  font-size: 0.8em;
  animation: animate 1.5s linear infinite;
  text-align: center;
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

#weapons {
  display: inline-flex;
  align-items: flex-start;
  gap: 2em;
}
.weapon-button {
  background-color: #4e4e4e;
  color: white;
  text-transform: capitalize;
  font-size: 1.2em;
  font-family: "Nunito-Bold";
  display: flex;
  padding: 1.2em 2em;
  justify-content: center;
  border-radius: 1.5em;
}
.weapon-button:hover {
  background-color: #828282;
}

.hidden {
  display: none;
}
