* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("font/Nunito-Bold.ttf");
  line-height: 120%;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("font/Lato-Regular.ttf");
  line-height: 120%;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/start-background.png);
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

body h1 {
  font-family: "Nunito-Bold";
  font-size: 3em;
}
body h2 {
  font-family: "Lato-Regular";
  font-size: 2.25em;
}
body h3 {
  font-family: "Lato-Regular";
  font-size: 1.5em;
}
body p {
  font-family: "Lato-Regular";
  font-size: 1em;
}

#customize {
  display: inline-flex;
  align-items: flex-end;
  gap: 12.5em;
}

audio {
  position: absolute;
  top: 0;
  left: 0;
}

ul {
  list-style-type: none;
}
li {
  float: left;
  padding: 0.8em;
}
li a {
  display: flex;
  align-items: flex-start;
}

/* inside of the choices */
.choices {
  display: flex;
  padding: 2em 2.25em;
  width: 25.625em;
  height: 10em;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  border-radius: 1.875em;
  background: white;
}
/* two choices */
#choices {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

/*character*/
#character {
  background-color: white;
  padding: 2em;
  border-radius: 10%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.25em;
  height: 21.25em;
  flex-shrink: 0;
  border-radius: 21.25em;
  border: 0.5em solid #242424;
}
.overlay-img {
  scale: 1.2;
  z-index: 1;
}

/*textbox*/
#textbox-container {
  margin-bottom: 1.25em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

input[type="text"] {
  padding: 1em;
  border: 0.2em solid #fdd179;
  border-radius: 5em;
  width: 15em;
  background-color: white;

  font-family: "Lato-Regular";
  font-size: 1em;
}

button {
  padding: 1em;
  background-color: #3d8368;
  color: white;
  border-radius: 5em;
  width: 20em;
  cursor: pointer;

  font-family: "Lato-Regular";
  font-size: 1em;
}

button:hover {
  background-color: #75bda1;
}

/* button to start fight */
/* bron: https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */
.button-fight {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
}

.button-fight:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f38888;
  border-radius: 10rem;
  z-index: -2;
}

.button-fight:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ec7676;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.button-fight:hover {
  color: #fff;
}

.button-fight:hover:before {
  width: 100%;
}
