* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("font/Nunito-Bold.ttf");
  line-height: 120%;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("font/Lato-Regular.ttf");
  line-height: 120%;
}

body {
  margin: 4em;

  background-image: url(img/start-background.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items horizontally in the center */
  align-items: center;
}

body h1 {
  font-family: "Nunito-Bold";
  font-size: 3em;
}
body h2 {
  font-family: "Lato-Regular";
  font-size: 2.25em;
}

#customize {
  display: inline-flex;
  align-items: flex-end;
  gap: 12.5em;
}

.item-layout {
  display: flex;
  align-items: flex-start;
  gap: 3em; /* 40px */
}
.choices {
  display: flex;
  padding: 2em 2.25em; /* 32px 36px */
  width: 25.625em; /* 410px */
  flex-direction: column;
  align-items: center;
  gap: 1.5em; /* 24px */

  border-radius: 1.875em; /* 30px */
  background: #fff;
}
#choices {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5em; /* 40px */
}

/*character*/
#character {
  background-image: url(img/customize/rectangle.png);
  /* background-size: cover; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
#ellipse {
  width: 21.25em;
  height: 21.25em;
  flex-shrink: 0;
  border-radius: 21.25em;
  border: 0.5em solid #242424;
}
.overlay-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure overlay appears above the ellipse */
}

/*textbox*/
.textbox-container {
  margin-bottom: 1.25em;
  display: flex; /* Use flexbox layout */
  align-items: center; /* Align items vertically */
  flex-direction: column;
  gap: 2em;
}

input[type="text"] {
  padding: 0.8em;
  border: 2px solid #fdd179;
  border-radius: 5px;
  width: 12.5;
  background-color: white;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#display-area {
  margin-top: 20px;
  font-size: 18px;
}
